
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_layOutSiteHeader.cshtml";
}
<style>
    .container_introduce {
        /*margin-top: 100px;

        margin: 0 11% 0 11%;
        width: 78%;*/
        background-color: #fdfdfd;
    }
    .container_introduce-name {
        height: 100px;
        padding-left: 10px;
        margin-right: 10px;
    }
    .container_introduce-name-h2 {
        padding: 0 30px 0 10px;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 22px;
        color: #ff6a00;
        width: 99%;
        height: 65px;
        background-color: #ffffff;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.05);
    }
    .container_introduce-menu {
        list-style: none;
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        padding-bottom:30px;

    }

    .container_introduce-item {
        width: 24%;
        margin: 10px 10px 0 0;
        background-color: #fff;
        border-radius: 8px;
        padding: 8px;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.05);
    }

        .container_introduce-form {
            display: flex;
            flex-direction: column;
        }

    .container_introduce-form-icon {
        width: 30px;
        height: 30px;
        font-size: 30px;
        color: #dc4112;
        margin: 10px;
    }

    .container_introduce-form-name {
        font-size: 20px;
        
    }

    .container_introduce-form-para {
        color: #6e6d6d;
    }
   
    .form-group{
        width:100%;
    }
    
</style>
<section class="mt_search" style="margin-top: 50px !important; ">

    <div class="container card" style="padding: 30px !important; background-color: #00c6a9">
        <div class="search-content-slider">
            <div class="section-title text-center ">
                <h2>Tìm kiếm chuyến bay</h2>
                
            </div>
            <form action="~/Site/flightSearch" method="post" id="form-search">
                <div class="radio" align="center">
                    <label><input value="disable" type="radio" id="typeticket" name="typeticket" checked>Một chiều</label>
                    <label><input value="enable" type="radio" id="typeticket" name="typeticket">Khứ hồi</label>

                </div>
                <input type="hidden" id="ticketCheck" value="" />

                <div class="row">
                    
                    <div class="col-md-3 col-sm-6" >
                        <div class="table_item">
                            <div class="form-group">
                                <select name="departure_address" style="padding: 0 40px; width: 100%"  tabindex="1" required >

                                    @foreach (var item in ViewBag.cities)
                                    {
                                        <option value="@item.cityName">@item.cityName</option>
                                    }

                                </select>
                                <i class="flaticon-maps-and-flags"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="table_item">
                            <div class="form-group">
                                <select name="arrival_address" style="padding: 0 40px; width: 100%"  tabindex="1">


                                    @foreach (var item in ViewBag.cities)
                                    {
                                        <option value="@item.cityName">@item.cityName</option>
                                    }

                                </select>
                                <i class="flaticon-maps-and-flags"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" >
                        <div class="row">
                            <div class="col-md-4 col-sm-6" style="width:100%;">
                                 <div class="table_item">
                                     <div class="form-group">
                                         <input name="songuoi1" class="" style="width: 100%;height:54px;" tabindex="1" list="options" @*class="select-input"*@ type="number"  placeholder="Khách hàng" required>
                                         <datalist class="data" id="options" style="width:100%">
                                             <option selected value="1">
                                             <option value="2">
                                             <option value="3">
                                             <option value="4">
                                             <option value="5">
                                         </datalist>
                                         <i class="flaticon-box"></i>
                                     </div>

                                </div>
                            </div>
           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="table_item">
                            <div class="form-group ">
                                @*<div class='input-group date' id='datetimepicker1'>
            <input type="text" id="departure_date" name="departure_date" class="form-control" placeholder="Ngày đi" onclick="return 0" required />
            <i class="flaticon-calendar"></i>

            <span class="input-group-addon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>

        </div>*@
                                <input type="text" id="departure_date" name="departure_date" class="form-control" placeholder="Ngày đi" onclick="return 0" required />
                                @Html.Partial("_MessgeAlert")
                                <span class="text-danger" id="ngaybay"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="table_item">
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' id="arrival_date" name="arrival_date" class="form-control" placeholder="Ngày về" required />
                                    <i class="flaticon-calendar"></i>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>

                                </div>
                                <span class="text-danger" id="ngayve"></span>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-12  ">
                    <div class="table_item " align="center">
                        <div class="search ">
                            <button type="submit" class="btn-blue btn-red ">Tìm kiếm</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>


<section>
    <div class="container_introduce container">
        <div class="container_introduce-name">
            <h2 class="container_introduce-name-h2">Những tiện ích mà chúng tôi mang đến.</h2>
        </div>
        <ul class="container_introduce-menu">
            <li class="container_introduce-item">
                <div class="container_introduce-form">
                    <i class="container_introduce-form-icon fa fa-ticket" aria-hidden="true"></i>
                    <h2 class="container_introduce-form-name">Tìm kiếm dễ dàng với giá vé tốt nhất</h2>
                    <p class="container_introduce-form-para">Tìm các ưu đãi vé bay tốt nhất từ các chuyến bay du lịch. Không cần phải tìm kiếm nhiều website của từng hãng máy bay nữa, khi mà chúng tôi giúp bạn cập nhật tất cả những website đó tại cùng một chỗ.</p>
                </div>
            </li>
            <li class="container_introduce-item">
                <div class="container_introduce-form">
                    <i class="container_introduce-form-icon fa fa-rocket" aria-hidden="true"></i>
                    <h2 class="container_introduce-form-name">Tìm kiếm nhanh chóng và linh hoạt</h2>
                    <p class="container_introduce-form-para">Dễ dàng tìm thấy và lọc các chuyến bay phù hợp với những yêu cầu khác nhau của bạn, chẳng hạn như không tốn phí huỷ đặt.</p>
                </div>
            </li>
            <li class="container_introduce-item">
                <div class="container_introduce-form">
                    <i class="container_introduce-form-icon fa fa-check-square" aria-hidden="true"></i>
                    <h2 class="container_introduce-form-name">Đáng tin cậy và miễn phí</h2>
                    <p class="container_introduce-form-para">Bạn hoàn toàn được sử dụng miễn phí; không có phí ngầm ẩn nào.</p>
                </div>
            </li>
            <li class="container_introduce-item">
                <div class="container_introduce-form">
                    <i class="container_introduce-form-icon fa fa-map-marker" aria-hidden="true"></i>
                    <h2 class="container_introduce-form-name">Các công cụ dễ dùng cho việc hoạch định chuyến đi</h2>
                    <p class="container_introduce-form-para">Với những công cụ hữu dụng như trình hoạch định chuyến đi, trình theo dõi chuyến bay, chúng tôi không chỉ là website tìm kiếm chuyến bay. Đây là cộng sự du lịch hoàn thiện dành cho bạn.</p>
                </div>
            </li>
        </ul>
    </div>
</section>


<!-- Top Destinations -->
<section class="flight-destinations">

    <div class="container bg-white">
        <div class="row">
            <form action="~/Checkout/Index" method="post">
                <input type="hidden" name="songuoi" value="@ViewBag.songuoi" />
                <div class="col-md-12">
                    <div class="flight-head">
                        <div class="">
                            <div class="col-md-10">
                                <nav aria-label="breadcrumb">
                                    @{var Date = ViewBag.dateNow; }
                                    <span style="font-weight:bold; font-size:22px;color:#ff6a00;"><i class="fas fa-fighter-jet"></i> Chuyến bay trong ngày @Date.ToString("dd-MM-yyyy") </span>

                                </nav>
                            </div>

                            <div class="col-md-2"> <a href="~/chuyen-bay-trong-ngay" class="btn-blue btn-red btn-style-1 w-100">Xem tất cả</a></div>
                        </div>
                    </div>

                </div>
                <div class="flight-table">
                    <table id="myTable1">
                        <thead>
                            <tr>
                                <th>Hãng máy bay</th>
                                <th>Tên hãng</th>
                                <th>Nơi đi</th>
                                <th>Nơi đến</th>
                                <th>Thời gian đi</th>
                                <th>Thời gian đến</th>
                                <th>Hạng vé</th>
                                <th>Chi tiết</th>
                                <th>Giá vé</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in ViewBag.tickets)
                            {
                                <tr>
                                    <td class="text-center">
                                        <img style="width:80px;height:60px" src="~/public/images/flight/@item.airline" alt="">
                                    </td>
                                    <td>
                                        
                                        <h6>@item.name</h6>
                                    </td>
                                    <td>
                                        <h6>@item.city.cityName</h6>
                                        <p>Sân bay (@item.city.cityName)</p>
                                    </td>
                                    <td>
                                        <h6>@item.city1.cityName</h6>
                                        <P>Sân bay (@item.city1.cityName)</P>
                                    </td>
                                    <td>
                                        <h6>@item.departure_time</h6>
                                    </td>
                                    <td>
                                        <h6>@item.arrival_time</h6>

                                    </td>
                                    <td>
                                        <h6>@item.ticketType</h6>


                                    </td>

                                    <td>
                                        <a href="~/chuyen-bay/@item.id">Chi tiết</a>
                                    </td>
                                    <td>
                                        <h6><strong class="color-red-3">@item.price.ToString("N0") VNĐ</strong></h6>
                                        
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

</section>
<script>
    $("#form-search").submit(function (event) {
        $("#ngaybay").text("");
        $("#ngayve").text("");
        var ngaybay = $("#departure_date").val();
        var ngayve = $("#arrival_date").val();
        var typeticket = $("#ticketCheck").val();


        if (ngaybay == "Ngày Bay") {
            $("#ngaybay").text("Vui lòng chọn ngày bay");

            return false;

        }
        if (typeticket == 2) {
            if (ngayve == "Ngày về") {
                $("#ngayve").text("Vui lòng chọn ngày về");
                return false
            }
            else {
                return true;
            }
        }
        return true;

    });
    $(document).ready(function () {
        // By Default Disable radio button
        $("#arrival_date").attr('disabled', true);
        $("form input:radio").change(function () {
            if ($(this).val() == "enable") {
                $("#arrival_date").attr('disabled', false);
                $("#ticketCheck").val(2);
            }
            else {
                $("#arrival_date").attr('disabled', true);
                $("#ticketCheck").val(1);
            }
        });
    });
</script>
