@model  BanVeMayBay.Models.ticket 
@{
    ViewBag.Title = "flightDetail";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}
@*<section class="booking">
        <div class="container bg-white" style="margin-top:50px; margin-bottom:50px">
            <div class="row">
                <div class="col-md-8">
                    <div class="booking-confirmed booking-outer">
                        <div class="confirmation-title">
                            <div class="form-title form-title-1">
                                <h2 class="text-danger">Ticket details: @Model.city.cityName -> @Model.city1.cityName</h2>
                            </div>
                            <div class="payment-info detail">
                                <div class="row">
                                    <div class="col-md-12">

                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table" style="margin-top:20px;">
                        <tbody>
                            <tr>
                                <td class="title">Hãng máy bay</td>
                                <td> <img style="width:50px;height:50px" src="~/public/images/flight/@Model.airline" alt=""></td>
                            </tr>
                            <tr>
                                <td class="title">Giá vé</td>
                                <td class="b-id text-danger">@Model.price.Value.ToString("N0") đ</td>
                            </tr>
                            <tr>
                                <td class="title">Ngày bay</td>
                                <td>@Model.departure_date.Value.ToString("dd-MM-yyyy")</td>
                            </tr>
                            <tr>
                                <td class="title">Thời gian bay</td>
                                <td>@Model.departure_time</td>
                            </tr>
                            <tr>
                                <td class="title">Thời gian đến</td>
                                <td>@Model.arrival_time</td>
                            </tr>
                            <tr>
                                <td class="title">Nơi đi</td>
                                <td>@Model.city.cityName</td>
                            </tr>
                            <tr>
                                <td class="title">Nơi đến</td>
                                <td>@Model.city1.cityName</td>
                            </tr>
                            <tr>
                                <td class="title">Mã chuyến bay</td>
                                <td>@Model.flightCode</td>
                            </tr>
                            <tr>
                                <td class="title">Hạng vé</td>
                                <td>@Model.ticketType</td>
                            </tr>
                            <tr>
                                <td class="title">Số chỗ ngồi</td>
                                <td>@Model.guestTotal chỗ</td>
                            </tr>

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
                </div>
            </div>

    </section>
    <style>
        .title {
            font-size: 17px;
            font-weight: bold;
            padding-right: 50px;
            color: #ff0000;
        }
    </style>*@
<style>
    .container_form {
        width: 80%;
        margin: 50px 10%;
        background-color: #fff;
        padding: 50px 0;
        border-radius: 4px;
        font-size: 18px;
        font: bold;
    }

    .container_form-name {
        font-weight: 400;
        font-size: 24px;
        display: flex;
        color: #333;
        margin-bottom: 30px;
        margin-left: 50px;
    }

    .container_form-name-icon {
        margin-right: 6px;
        position: relative;
        top: 2px;
    }

    .container_form-icon {
        font-size: 100px;
        display: flex;
        justify-content: center;
        color: #09b298;
        margin-bottom: 30px;
    }

    .container_form-name-gender {
        margin: 20px 0;
        display: flex;
    }

    .container_form-fullname {
        display: flex;
        flex-direction: column;
        margin: 0px 100px 0px 50px;
    }

    .container_form-gender-female {
        margin-left: 50px;
    }

    .container_form-gender-radio {
        position: relative;
        top: 10px;
    }

    .container_form-dayofbirth {
        display: flex;
        flex-direction: column;
        margin: 0 100px 0 0;
    }

    .container_form-contact {
        display: flex;
        margin: 20px 0;
    }

    .container_form-contact-email {
        display: flex;
        flex-direction: column;
        margin: 0 100px 0 50px;
    }

    .container_form-contact-sdt {
        display: flex;
        flex-direction: column;
    }

    .container_form-account {
        display: flex;
    }

    .container_form-createday {
        margin: 20px 50px;
        display: flex;
        flex-direction: column;
    }

    .container_form-password {
        margin: 20px 50px;
        display: flex;
        flex-direction: column;
    }

    .container-input {
        width: 300px;
        height: 40px;
        border-radius: 8px;
        border: 2px solid #029c94;
        padding-left: 5px;
        border-bottom: 2px solid #171717;
    }

    .container-input-small {
        width: 200px;
    }

    .container-label {
        margin-bottom: 5px;
        color: #6b6b6b;
    }

    .container_form-button {
        display: flex;
        margin: 30px 0 0 50px;
    }

    .container_form-button-edit {
        width: 100px;
        height: 36px;
        margin-right: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
    }

        .container_form-button-edit:hover {
            background-color: #cfcece;
        }

    .container_form-button-update {
        width: 100px;
        height: 36px;
        border: none;
        background-color: #2688eb;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
    }

        .container_form-button-update:hover {
            background-color: #0560bb;
        }

    /* vé */
    .container_ticket {
        width: 100%;
        height: auto;
        background-color: #fff;
        padding: 20px;
        font-size: 20px;
        border-radius: 8px;
    }

    .form_ticket {
        margin-top: 20px;
        margin-left: 5%;
        width: 90%;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
        ;
    }

    .container_ticket-name {
        font-size: 24px;
        border-bottom: 1px solid #333;
    }

    .container_ticket-list {
        list-style: none;
        text-decoration: none;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .container_ticket-airline {
        color: #f55656;
        position: relative;
        top: -10px;
    }

        .container_ticket-airline span {
            position: relative;
            top: 10px;
        }

    .container_ticket-airline-img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 4px;
        position: relative;
        top: 8px;
    }

    .container_ticket-time {
        display: flex;
        text-decoration: none;
        list-style: none;
        font-weight: 700;
    }

    .container_ticket-timeStart {
    }

    .container_ticket-time-iconplane {
        position: relative;
        top: -15px;
    }

    .container_ticket-time-iconbuild {
        margin-left: 4px;
    }

    .container_ticket-timeEnd--active span {
        position: relative;
        top: -20px;
        left: -36px;
        color: #0437ef;
        font-weight: 400;
    }

    .container_ticket-time-icon {
        margin: 0 50px;
    }

    .container_ticket-timeTrip {
        position: relative;
        top: 25px;
        left: -49%;
        font-size: 18px;
        font-weight: 400;
        color: #5577f5;
    }

    .container_ticket-price {
        font-weight: 700;
        color: #0437ef;
    }

    .container_ticket-button {
        margin: 20px 0 10px 0;
        width: 100%;
        display: block;
    }

    .container_ticket-confirm {
        position: relative;
        right: -90%;
        font-size: 20px;
        font-weight: 700;
        width: 120px;
        height: 35px;
        border-radius: 4px;
        background-color: rgb(54, 214, 254);
        border: none;
        color: #fff;
        cursor: pointer;
    }

        .container_ticket-confirm:hover {
            background-color: rgb(155, 224, 247)
        }

        .container_ticket-confirm:active {
            background-color: rgb(54, 214, 254);
        }
    /* chi tiết */
    .form-detail-container {
        background-color: #c3c1c1;
        padding: 20px 0 10px;
    }

    .form_detail {
        background-color: #fff;
        width: 80%;
        margin: 0px 10%;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    }

    .form_detail-name {
        font-size: 20px;
        border-bottom: 1px solid #a3a3a3;
        margin: 0 10px;
    }

    .form_detail-ticket {
    }

    .form_detail-ticket-list {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .form_detail-ticket-item {
        border-right: 1px solid #e2e1e1;
        margin: 10px 10px;
        display: flex;
        flex-direction: column;
        padding-right: 10px;
    }

        .form_detail-ticket-item:first {
            margin-left: 0;
        }

        .form_detail-ticket-item:last-child {
            border: none;
        }

    .form_detail-logo {
        width: 150px;
        height: 100px;
    }

    .form_detail-ticket-item-name {
        font-size: 16px;
        margin-top: 4px;
        display: flex;
        justify-content: center;
    }

    .form_detail-location {
        font-size: 18px;
        font-weight: 700;
    }

    .form_detail-location-airport {
        font-size: 18px;
        color: #0437ef;
    }

    .form_detail-time {
        font-size: 16px;
    }

    .form_detail-time-hour {
        font-weight: 700;
    }

    .form_detail-time-day {
    }

    .form_detail-trip {
    }

    .form_detail-plane-name {
        font-size: 18px;
    }

    .form_detail-trip-id {
        font-size: 20px;
        font-weight: 700;
        color: #c3c1c1;
    }

    .container_form-ticket-link {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .container_form-ticket-button {
        margin-bottom: 50px;
        height: 36px;
        background-color: #0437ef;
        color: #fff;
        border: none;
        border-radius: 4px;
    }
    .flight_button-form {
        width: 70px;
        height: 34px;
        margin: 50px 0;
        float: right;
        background-color: #D60D45;
        color:#fff;
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:15px;
    }
        .flight_button-form a{
            color:#fff;
            
        }
        .flight_button-form:hover {
            background-color: #ee6acf;
        }
</style>
<section class="booking">
    <div class="container bg-white">
        <div class="row">
            <div class="col-md-12">
                <div class="booking-form booking-outer">
                    <div class="payment-info detail" style="padding-top: 100px;">
                        <div class="row">
                            @*@if (Model.Count() > 1)
                            {
                                <h4 class="text-danger " style="margin-left: 30px; font-size:40px;">Loại chuyến bay:  Khứ hồi </h4>
                            }
                            else
                            {
                                <h4 class="text-danger" style="margin-left: 30px; font-size: 40px;">Loại chuyến bay:  Một chiều </h4>
                            }*@

                            @{ var sum = 0;}

                            

                               


                                <div class="container_ticket">
                                    <div class="container_ticket-name">
                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                        Chuyến bay bạn đã lựa chọn
                                    </div>
                                    <div class="form_ticket">
                                        <div class="container_ticket" name="container_ticket">
                                            <ul class="container_ticket-list" name="container_ticket-list">
                                                <li class="container_ticket-list-item">
                                                    <div class="container_ticket-airline" name="container_ticket-airline">
                                                        <img name="container_ticket-airline-img" class="container_ticket-airline-img" src="~/public/images/flight/@Model.airline" alt="">
                                                        <span>@Model.name</span>
                                                </li>
                                                <li class="container_ticket-list-item">
                                                    <ul class="container_ticket-time" name="container_ticket-time">
                                                        <li class="container_ticket-timeStart" name="container_ticket-timeStart">
                                                            @Model.departure_time
                                                        </li>
                                                        <li class="container_ticket-time-icon" name="container_ticket-time-icon">--------------<i class="container_ticket-time-iconplane fa fa-plane" aria-hidden="true"></i>--------------<i class="container_ticket-time-iconbuild fa fa-building" aria-hidden="true"></i></li>



                                                    </ul>
                                                </li>
                                                <li class="container_ticket-list-item container_ticket-price" name="container_ticket-price">
                                                    Giá vé: @Model.price.Value.ToString("N0") VNĐ
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-detail-container">
                                        <div class="form_detail">
                                            <div class="form_detail-name">
                                                <i class="fa fa-plane" aria-hidden="true"></i>
                                                Chi tiết chuyến bay
                                            </div>
                                            <div class="form_detail-ticket">
                                                <ul class="form_detail-ticket-list">
                                                    <li class="form_detail-ticket-item">
                                                        <img class="form_detail-logo" src="~/public/images/flight/@Model.airline" alt="">
                                                        <span class="form_detail-ticket-item-name">@Model.name</span>
                                                    </li>
                                                    <li class="form_detail-ticket-item">
                                                        <span class="form_detail-location">@Model.city.cityName</span>
                                                        <span class="form_detail-location-airport">@Model.city.cityName</span>
                                                        <div class="form_detail-time">
                                                            <span class="form_detail-time-hour">@Model.departure_time</span>
                                                            <span class="form_detail-time-day">@Model.departure_date.Value.ToString("dd-MM-yyyy")</span>
                                                        </div>
                                                    </li>
                                                    <li class="form_detail-ticket-item">
                                                        <span class="form_detail-location">@Model.city1.cityName</span>
                                                        <span class="form_detail-location-airport">@Model.city1.cityName</span>

                                                    </li>
                                                    <li class="form_detail-ticket-item">
                                                        <div class="form_detail-trip">
                                                            <span class="form_detail-plane-name">Mã chuyến bay:</span>
                                                            <span class="form_detail-trip-id">@Model.flightCode</span>
                                                        </div>

                                                        <div class="form_detail-rank">
                                                            <span class="form_detail-plane-name">Chuyến bay:</span>
                                                            <span class="form_detail-trip-id">@Model.description</span>
                                                        </div>
                                                        <div class="form_detail-rank">
                                                            <span class="form_detail-plane-name">Hạng vé:</span>
                                                            <span class="form_detail-trip-id">@Model.ticketType</span>
                                                        </div>
                                                        <div class="form_detail-rank">
                                                            <span class="form_detail-plane-name">Số chỗ ngồi:</span>
                                                            <span class="form_detail-trip-id">@Model.guestTotal</span>
                                                        </div>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                        </div>
                    </div>

                   

                    <div class="flight_button-form">
                        <a href="javascript:void(0);" onclick="window.history.back();">trở về</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

